/* Created by: Ms Raffin
 * Created on: Feb. 2022
 * This CSS file defines the style for index.html 
*/

body {
  background-color: #4e555a;
}

body {
  color: #fff700;
}

h1 {
  background-color: #3a332c;
  padding: 50px;
}